@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants hover {
    /* Encantos Parent Portal Hover */
    :hover.epp-hover {
      text-decoration: underline;
    }
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Groteskly', 'Open Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}